<p id="notice"><%= notice %></p>

<h1>Bowling Centers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bowling_centers.each do |bowling_center| %>
      <tr>
        <td><%= link_to bowling_center.name, bowling_center %></td>
        <td><%= link_to '削除', bowling_center, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'トップに戻る',root_path %>
