<div class="container justify-content-center">
  <h1 class="text-center mb-3">ボウリング場を登録する</h1>
  <%= render 'form', bowling_center: @bowling_center %>
  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-outline-primary m-3"><%= link_to 'ボウリング場一覧', bowling_centers_path %></button>
    <button type="button" class="btn btn-outline-primary m-3"><%= link_to 'トップに戻る', root_path %></button>
  </div>
</div>
