<div class="container justify-content-center">
  <h1 class="text-center mb-3">スコア入力</h1>
  <%= render 'form', score: @score %>
  <div class="d-flex justify-content-center">
    <%= link_to 'ボウリング場詳細に戻る', @bowling_center, class:"btn btn-outline-primary m-3" %>
    <%= link_to 'ボウリング場一覧', bowling_centers_path, class:"btn btn-outline-primary m-3" %>
    <%= link_to 'トップに戻る', root_path, class:"btn btn-outline-dark m-3" %>
  </div>
</div>

