<div id="map"></div>


  <p id="hoge"><%= link_to "ボウリング場を登録する", new_bowling_center_path %></p>
  <p><%= link_to "ボウリング場一覧", bowling_centers_path %></p>

<script>
  $("#hoge").css("color","red")
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
