// Place all the styles related to the BowlingCenters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#map {
  width: 1000px;
  height: 500px;
}

#form {
  margin: auto;
}
